{% extends "appbuilder/base.html" %}

{% block content %}
  <h2>Кастомная авторизация</h2>
  <form method="POST" action="{{ url_for('AuthView.auth') }}">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.username.label }}
      {{ form.username(class="form-control") }}
      {% for error in form.username.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.password.label }}
      {{ form.password(class="form-control") }}
      {% for error in form.password.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
{% endblock %}

